$additionalColorLightPresentation: #d2f5f5;
$mainColorDark: #2A4480;

.raci-matrix {
  border-collapse: collapse;
  border: 2px solid $mainColorDark;


  &__title {
    padding-bottom: 10px;
  }

  th {
    font-size: 24px;
    background: $additionalColorLightPresentation;
    border: 1px solid blue;
  }

  td {
    font-size: 20px;
    text-align: center;
    border: 1px solid blue;
  }

  td:nth-child(1) {
    width: 400px;
    text-align: left;
  }
}
