
<div class="reveal">
  <div class="slides">

    <!--1-th Slider-->
    <!-- <section class="slides__1">
      <h2>Project management application</h2>
      <img src='assets/angular.png' alt="angular">
    </section> -->
    <!-- 2-th Slider-->
    <!-- <section class="slides__2">
      <h4>Содержание</h4>
      <ul>
        <li class="fragment fade-up">Результат командной работы</li>
        <li class="fragment fade-up">Организация командной работы</li>
        <li class="fragment fade-up">Особенности технической реализации проекта
          и его репозиторий</li>
        <li class="fragment fade-up">Заключение</li>
      </ul>
    </section> -->
    <!--3-th Slider-->
    <!-- <section class="slides__3"
      data-transition="zoom">
      <section slides__3__title>
        <h3>Результат командной работы</h3>
      </section>

      <section class="slides__3__visual">
        <h5>Приложение</h5>
        <iframe
          src="https://project-management-app-bece7.web.app/welcome"
          width="1080px" height="600px"></iframe>
      </section>

      <section class="slides__3__visual">
        <h5>Адаптив</h5>
        <iframe
          src="https://project-management-app-bece7.web.app/welcome"
          width="320px" height="600px"></iframe>
      </section>
    </section> -->

    <!--4-th Slider-->
    <section class="slides__4"
      data-transition="zoom">

      <!-- <section class="slides__4__title">
        <h3>Организация командной работы</h3>
      </section>
      <section class="slides__4__team">
        <h4>Наша команда</h4>
        <ul class="slides__4__team__members-list">
          <li class="fragment fade-left">
            <img src="assets/mari.png" alt="mari">
            <div>
              <h5>Мария</h5>
              <a href="https://github.com/MaryAnzh">https://github.com/MaryAnzh</a>
            </div>
          </li>
          <li class="fragment fade-right">
            <div>
              <h5>Дмитрий</h5>
              <a href="https://github.com/Mowgle88">https://github.com/Mowgle88</a>
            </div>
            <img src="assets/dima.png" alt="dima">
          </li>

          <li class="fragment fade-left">
            <img src="assets/margo.png" alt="margo">
            <div>
              <h5>Маргарита</h5>
              <a href="https://github.com/margoroma">https://github.com/margoroma</a>
            </div>
          </li>
        </ul>
      </section> -->

      <!-- <section class="slides__4__RACI">
        <h4>RACI матрица</h4>
        <ul>
          <li>R – Responsible (исполняет)</li>
          <li>A – Accountable (несет ответственность);</li>
          <li>C – Consult before doing (консультирует до исполнения)</li>
          <li>I – Inform after doing (оповещается после исполнения).</li>
        </ul>
      </section> -->

      <section>
        <app-raci-matrix></app-raci-matrix>
      </section>

    </section>
  </div>
</div>
