
<div class="reveal">
  <div class="slides">

    <!--1-th Slider-->
    <section class="slides__1">
      <h2>Project management application</h2>
      <img src='assets/angular.png' alt="angular">
    </section>

    <!-- 2-th Slider-->
    <section class="slides__2">
      <h4>Содержание</h4>
      <ul>
        <li class="fragment fade-up">Результат командной работы</li>
        <li class="fragment fade-up">Организацию командной работы</li>
        <li class="fragment fade-up">Особенности технической реализации проекта
          и его репозиторий</li>
        <li class="fragment fade-up">Заключение</li>
      </ul>
    </section>

    <!--3-th Slider-->
    <section class="slides__3"
      data-transition="zoom">
      <section slides__3__title>
        <h3>Результат командной работы</h3>
      </section>

      <section class="slides__3__visual">
        <h5>Приложение</h5>
        <iframe
          src="https://project-management-app-bece7.web.app/welcome"
          width="1080px" height="600px"></iframe>
      </section>

      <section class="slides__3__visual">
        <h5>Адаптив</h5>
        <iframe
          src="https://project-management-app-bece7.web.app/welcome"
          width="320px" height="600px"></iframe>
      </section>
    </section>


  </div>
</div>
